<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="netgenes.ng-menu.css" />
    <link rel="stylesheet" href="examples.css"/>
    <title>Menu Builder Examples</title>
</head>
<body ng-app="app" role="application">

<section id="examples-container" ng-controller="DemoController">
    <h1>Menu Examples</h1>

    <h2>Popup Menu</h2>
    <p>Simple menu binding with trigger</p>
    <ul class="demo-section" id="example1">
        <li ng-repeat="card in cards">
            {{ card.name}}
            <span aria-haspopup="true" popup-menu="'demo_menu'" role="button" class="menu-trigger">...</span>
        </li>
    </ul>
    <h2>Context Menu</h2>
    <p>Simple Context Menu</p>
    <ul class="demo-section" id="example2">
        <li ng-repeat="card in cards"  context-menu="'demo_menu'">
            {{ card.name}}
        </li>
    </ul>

</section>

<aside id="actions-monitor" ng-controller="MonitorController">
    <ul>
        <li ng-repeat="monit in monits">standard action `{{ monit.action}}` called for `{{ monit.source}}`</li>
    </ul>
</aside>

<script src="bower_components/angular/angular.js"></script>
<script src="netgenes.ng-menu.js"></script>
<script src="examples.js"></script>
</body>
</html>